html, body, h1, p {
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(images/paper.png);
    font-family: 'Comic Sans MS', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 30px;
    text-align: center;
}
.buttons{
    display: block;
    margin-top: 20px;
    text-align: center;
}
.tasks p{
    display: block;
}